   # =========================================================
# PYTHON CACHE
# =========================================================

__pycache__/
*.pyc
*.pyo
*.pyd


# =========================================================
# ENVIRONMENT FILES
# =========================================================

.env
venv/
env/


# =========================================================
# ZIP FILES
# =========================================================

*.zip
lambda.zip


# =========================================================
# INSTALLED PYTHON PACKAGES
# =========================================================

*.dist-info/

boto3/
botocore/
s3transfer/
requests/
urllib3/
sqlalchemy/
greenlet/
pg8000/
charset_normalizer/
certifi/
dateutil/
idna/
asn1crypto/
scramp/
jmespath/
include/


# =========================================================
# LAMBDA PROJECT DEPENDENCIES
# =========================================================

LAMBDA_PROJECT/boto3/
LAMBDA_PROJECT/botocore/
LAMBDA_PROJECT/s3transfer/
LAMBDA_PROJECT/requests/
LAMBDA_PROJECT/urllib3/
LAMBDA_PROJECT/sqlalchemy/
LAMBDA_PROJECT/greenlet/
LAMBDA_PROJECT/pg8000/
LAMBDA_PROJECT/charset_normalizer/
LAMBDA_PROJECT/certifi/
LAMBDA_PROJECT/dateutil/
LAMBDA_PROJECT/idna/
LAMBDA_PROJECT/asn1crypto/
LAMBDA_PROJECT/scramp/
LAMBDA_PROJECT/jmespath/
LAMBDA_PROJECT/include/
LAMBDA_PROJECT/*.dist-info/


# =========================================================
# VSCODE
# =========================================================

.vscode/


# =========================================================
# MAC / WINDOWS SYSTEM FILES
# =========================================================

.DS_Store
Thumbs.db


# =========================================================
# DATA FILES
# =========================================================

data/
db/


# =========================================================
# STREAMLIT
# =========================================================

.streamlit/


# =========================================================
# DOCKER
# =========================================================

docker-compose.yml


# =========================================================
# LOG FILES
# =========================================================

*.log